# Build artifacts
/build/
/bin/
/dist/
/.vs/
/CMakeFiles/
CMakeCache.txt
*.vcxproj*
*.sln
*.user
*.pyc
__pycache__/
*.log
*.zip
*.aaxplugin/
*.vst3/
*.component/

src/_deps/

src/.vs/

src/build/

src/out/

src/x64/

src/src/Debug/

src/src/GuitarFX.dir/

src/src/GuitarFXCore.dir/

src/src/platform/app/Debug/

src/src/platform/app/GuitarFX_App.dir/

src/src/platform/vst3/Debug/

src/src/platform/vst3/GuitarFX_VST3.dir/

src/resources/ui/dist/

src/resources/ui/node_modules/

src/resources/amps/

src/resources/ir/

Testing/Temporary/

.cache/
