# Build artifacts
/build/
/bin/
/dist/
/.vs/
/CMakeFiles/
CMakeCache.txt
*.vcxproj*
*.sln
*.user
*.pyc
__pycache__/
*.log
*.zip
*.aaxplugin/
*.vst3/
*.component/

src/_deps/

src/.vs/

src/build/

src/out/

src/x64/

src/src/Debug/

src/src/SoundshedGuitar.dir/

src/src/SoundshedGuitarCore.dir/

src/src/platform/app/Debug/

src/src/platform/app/SoundshedGuitar_App.dir/

src/src/platform/vst3/Debug/

src/src/platform/vst3/SoundshedGuitar_VST3.dir/

src/resources/ui/dist/

src/resources/ui/node_modules/

src/resources/amps/

src/resources/ir/

Testing/Temporary/

.cache/

installer/dist/

src/build-macos-x86_64/

src/build-macos-x86_64-release/

src/build-macos-x86_64-test/

src/.DS_Store

.DS_Store

core/build/

juce/JUCE/

core/ui/assets/amps/

core/ui/assets/ir/

core/ui/dist/

core/ui/node_modules/

api/node_modules/

juce/ASIOSDK/

api/.wrangler/

resources/metal-presets/

juce/builds/

juce/.vs/

.specstory/
