# Build artifacts
/build/
/bin/
/dist/
/.vs/
/CMakeFiles/
CMakeCache.txt
*.vcxproj*
*.sln
*.user
*.pyc
__pycache__/
*.log
*.zip
*.aaxplugin/
*.vst3/
*.component/

src/.vs/

src/out/

src/x64/

src/build/src/platform/app/

src/build/src/NAMGuitarFXCore.dir/

src/build/src/Release/

src/_deps/
